body {
    font-family: "Helvetica Neue";
    text-align: center;
    color: white;
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    font-size: 24px;
}


#one {
    color: #bd1e00;
}

#one:hover {
    color: #f04400;
}

#two {
    color: #bd1e00;
}

#two:hover {
    color: #f04400;
}

#three {
    color: #bd1e00;
}

#three:hover {
    color: #f04400;
}

#four {
    color: #bd1e00;
}

#four:hover {
    color: #f04400;
}

#five {
    color: #bd1e00;
}

#five:hover {
    color: #f04400;
}

#six {
    color: #bd1e00;
}

#six:hover {
    color: #f04400;
}


#marquee {
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height:100%;
    padding: 3px;
}


/* #topsection {
    background-color: rgb(51, 49, 49);
    border-style: solid;
    border-color: yellowgreen;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 40px;
} */



#header {
    background-image: linear-gradient(to bottom, #ff2403, #ffea8d);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#topsection {
    font-size: 30px;
    font-weight: 500;
    color: #ffea8d;
    background-clip: text;
    -webkit-background-clip: text;
}

#paragraph {
    font-size: 20px;
    font-weight: 400;
}


#submitsuggestion {
    color: white;
}


#submitsuggestion:hover {
    color: #bd1e00;
}


h1 {
    color: white;
}


#section  {
    color: #fea056;
    font-size: 35px;
}

/* #section:hover {
    color: white;
} */

#upcoming {
    color: #fea056;
    font-size: 35px;
}

#upcoming:hover {
    color: white;
}


input {
    width: 30%;
    height: 25px;
    text-align: center;
}

button {
    font-size: 18px;
    width: 20%;
    height: 44px;
    font-weight: bold;
    background-color: white;
}

button:hover {
    background-color: #bd1e00;
    color: white;
    font-size: 20px;
}


.card-seen img {
    border-radius: 40px 5px 40px 5px;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
    height: 275px;
    width: 500px;
}

.card-seen img:hover {
    border: solid #ff2403 2px;
    cursor:hand;
}


.card-upcoming img {
    border-radius: 40px 5px 40px 5px;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
    height: 275px;
    width: 500px;
}

.card-upcoming img:hover {
    border: solid #ff2403 2px;
}

#backtotop {
    color: #feffd2;
    font-size: 18px;
}

#backtotop:hover {
    color: #e3470c;
}

a:hover {
    color: #bd1e00;
}

footer {
    background-color: #ffea8d;
    padding-bottom: 10px;
}

#copywright {
    color: black;
}

#footer nav {
    display: block;
    color:#bd1e00;
    font-size: 25px;
    padding: 10px;
    margin: 0px;
}

